ion-footer {
    text-align: center;
}


.custom-header {
    display: block;
    font-size: 2em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.header-icon {
    float: right;
    vertical-align: baseline;
    margin-left: 10px;
    margin-right: 10px;
}
