<ion-header>
  <ion-toolbar>
    <ion-title>tab-cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>

      <header class="custom-header">
        My Cart
        
          <ion-badge class="badge" color="medium">{{cart.orderLineItems.length}}</ion-badge>
          <ion-icon class="save-icon" name="save" (click)="saveCart()"></ion-icon>
          
          <ion-icon class="save-icon" name="trash" (click)="clearConfirmation()"></ion-icon>
      </header>
      
      
      
      
      
      <h1 *ngIf="(cart.orderLineItems == null || cart.orderLineItems[0] == null)">
        <br>
        Cart is empty! <br>Add items into cart from the menu tab.
      </h1>

      <ion-list>

        <ion-item *ngFor="let orderLineItem of cart.orderLineItems">

          <ion-thumbnail slot="start">
            <img src="{{resourcePath+orderLineItem.menuItem.imagePath}}">
          </ion-thumbnail>
          <ion-label>
            <h2><b>{{orderLineItem.menuItem.menuItemName}}</b></h2>
            <h2><b>{{getCurrency(orderLineItem.menuItem.menuItemPrice*orderLineItem.quantity)}} -&nbsp;</b>Qty:
              {{orderLineItem.quantity}} </h2>
            <!-- <p>{{item.menuItemCode}}</p> -->
            <p>
              {{orderLineItem.remarks}}
            </p>

          </ion-label>
          <ion-icon slot="end" name="chevron-forward-circle-outline" (click)="itemOptions(orderLineItem.menuItem)">
          </ion-icon>
        </ion-item>

      </ion-list>




    </ion-card-content>
  </ion-card>



</ion-content>

<ion-footer>


  <h2>Total: {{getCurrency(cart.totalAmount)}}</h2>
  <ion-button expand="block" (click)="submitOrder()">Submit Order</ion-button>
</ion-footer>