.custom-header {
    display: block;
    font-size: 2em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.header-icon {
    float: right;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.read {
    color: lightslategray;

}

.unread {
    color: darkgreen;
}

.new {
    vertical-align: middle;
    padding-bottom: 2.5px;
  }

