<ion-header>
  <ion-toolbar>
    <ion-title>Login Page</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form #customerLoginForm="ngForm" (ngSubmit)="customerLogin(customerLoginForm)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          
          <div padding>

            <div *ngIf="loginError == true" style="color: red;">
              {{errorMessage}}
            </div>
            

            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="password"  required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button (click)="clear()" expand="block">Clear</ion-button>
            <ion-button type="submit" [disabled]="customerLoginForm.invalid" expand="block">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <div text-center>
          If you don't have an account, please <a routerLink='/register'>
            register</a> first!
        </div>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
