<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Let's get you started!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #customerRegistrationForm="ngForm" (ngSubmit)="register(customerRegistrationForm)">

    <ion-grid>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input name="email" #email="ngModel" placeholder="Email" type="email" required="true"
              [(ngModel)]="newCustomer.email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input name="firstName" #firstName="ngModel" placeholder="First name" type="text" required="true"
              [(ngModel)]="newCustomer.firstName"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input name="lastName" #lastName="ngModel" placeholder="Last name" type="text" required="true"
              [(ngModel)]="newCustomer.lastName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input name="password" #password="ngModel" placeholder="Password (min. 8 characters)" type="password"
              required="true" [(ngModel)]="newCustomer.password" minlength="8"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input name="confirmPassword" #confirmPassword="ngModel" placeholder="Confirm Password" type="password"
              required="true" [(ngModel)]="newCustomer.confirmPassword" minlength="8"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <div>
        <ion-button size="large" type="submit" [disabled]="customerRegistrationForm.invalid" expand="block">Register
        </ion-button>
      </div>

    </ion-grid>
  </form>

</ion-content>