<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Registration</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div *ngIf="resultSuccess == true" style="color:blue;">
    {{message}}
  </div>

  <div *ngIf="resultError == true" style="color:red;">
    {{message}}
  </div>
  <form #customerRegistrationForm="ngForm" (ngSubmit)="register(customerRegistrationForm)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

          <div padding>
            <ion-item>
              <ion-input name="firstName" #firstName="ngModel" type="text" placeholder="First Name"
                [(ngModel)]="newCustomer.firstName" required="true"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="lastName" #lastName="ngModel" type="text" placeholder="Last Name"
                [(ngModel)]="newCustomer.lastName" required="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" #email="ngModel" type="email" placeholder="your@email.com"
                [(ngModel)]="newCustomer.email" required="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="initalPassword" #firstPassword="ngModel" type="password" placeholder="Enter Password"
                [(ngModel)]=newCustomer.initialPassword required="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" #password="ngModel" type="password" placeholder="Confirm Password"
                [(ngModel)]="newCustomer.password" required="true"></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="customerRegistrationForm.invalid" expand="block">Register
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>