ion-card-title{
    font-size: xx-large;
}

img{
    height: 170px;
    width: max-content;
}

ion-card-content{
    height: 170px;
    width: max-content;
    align-self: center;
}

.ccDetails{
    float: right;
}

ion-button{
   padding-left: 15px;
   padding-right: 15px;
   
}
