ion-card-title{
    font-size: xx-large;
}

img{
    height: 170px;
    width: max-content;
}

ion-button{
   padding-left: 15px;
   padding-right: 15px;
   
}

.ccDetails{
    float: right;
}

#addCreditCard{
    height: 200px;
	h1{
      text-align: center;
      vertical-align: middle;
	}
}