.order-page-header {
    display: block;
    font-size: 1.8em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.order-page-information {
    display: block;
    font-size: 1.2em;
    margin-left: 0;
    margin-right: 0;
}