pre {
    font-size: 16px;
    margin: 3px 0px 3px 6px
}

p {
    font-size: small;
    font-family: cursive;
}

.order-ion-card-content {
    padding-top: 0px;
    padding-bottom: 8px;
}

.order-title {
    font-size: large;
    // background-color: rgb(85, 187, 212);
    border-radius: 3px;
}

.paragraph-bold {
    font-weight: 550;
}

#order-header-title {
    font-size: x-large;
    font-weight: bold;
    color: rgba(18, 36, 36, 0.76);
}

#order-title-paragraph {
    margin-left: 6px;
    color: rgb(9, 71, 87);
    font-weight: 500;
    font-size: medium;
}

#total-amount {
    display: inline;
    font-size: 18px;
}
