<ion-header>
  <ion-toolbar>
    <ion-title>tab-queue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="displayOption == 1">


    <ion-card-content>

      <header class="custom-header">Join Queue</header>
      <ion-text color="primary" class="text">
        <h2>You are currently not in the queue and neither do you have an allocated table.</h2>
        <br>
        <h2>Simply specify no. of pax and click on the button below to join the eQueue.</h2>
        <br>
        <h2>We are pleased to serve you as soon as possible.</h2>
        <br>

      </ion-text>

    </ion-card-content>


    <ion-item>
      <ion-range [(ngModel)]="paxCount" color="secondary" pin="true" ticks="true" snaps="true" min="1" max="12">
        <ion-label slot="start">1</ion-label>
        <ion-label slot="end">12</ion-label>
      </ion-range>
    </ion-item>

    <ion-button expand="full" (click)="joinQueue()">
      <ion-icon slot="start" name="exit"></ion-icon>
      Join Queue Now ({{paxCount}} pax)
    </ion-button>
  </ion-card>


  <ion-card *ngIf="displayOption == 2">
    <ion-card-content>
      <header class="custom-header">Queueing</header>
      <ion-text color="primary" class="text">
        <h2>You have joined the queue, please be patient and wait for your turn.</h2>
        <br>
        <h2>We will notify you when a table has been allocated to you.</h2>
        <br>
      </ion-text>

      <ion-text *ngIf="queue != null">
        <h2>Here are your queue details: </h2>
        <h2> Pax: {{queue.numberOfPax}}</h2>
        <h2> Join time: {{parseDate(queueStartTime) | date:'h:mm a'}}</h2>
        <h2> Position in queue: {{queuePosition}}</h2>
        <h2> Estimated waiting time (minutes): {{queueWaitingTime}}</h2>
      </ion-text>


    </ion-card-content>

    <ion-button color="danger" expand="block" (click)="leaveQueue()">Leave Queue</ion-button>
  </ion-card>


  <ion-card *ngIf="displayOption == 3">

    <ion-card-content>
      <header class="custom-header">Its your turn!</header>
      <ion-text color="primary" class="text">
        <h2>We have a table for you! Hurry up before it expires.</h2>
        <br>

      </ion-text>

      <ion-text>
        <h2>Here are your table details: </h2>
        <h2> Table number: {{diningTable.diningTableId}}</h2>
        <h2> Table capacity: {{diningTable.seatingCapacity}} pax</h2>
        <h2> Allocated time: {{parseDate(queueAllocatedDateTime) | date:'h:mm a'}}</h2>
        <h2> Allocation expiry time: {{store.allocationGraceWaitingMinutes}} minutes</h2>
      </ion-text>
      <ion-text color="danger">


        <h2>Your allocation will expire on: {{expiryDateTime | date:'h:mm a'}} </h2>
      </ion-text>
    </ion-card-content>


    <ion-item-divider>
      <label>
        Check-in Method 1:
      </label>
    </ion-item-divider>

    <ion-input placeholder="Table Code" [(ngModel)]="code"></ion-input>

    <ion-button expand="full" (click)="checkIn()">
      <ion-icon slot="start" name="exit"></ion-icon>
      Check-in with Table Code
    </ion-button>

    <ion-item-divider>
      <label>
        Check-in Method 2:
      </label>
    </ion-item-divider>



    <ion-button expand="full" (click)="checkInQr()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Scan QR-Code
    </ion-button>


    <ion-button color="danger" expand="block" (click)="leaveQueue()">Leave Queue</ion-button>
  </ion-card>




  <ion-card *ngIf="displayOption == 4">
   
    <ion-card-content>
      <header class="custom-header">Checked-in!</header>
      <ion-text color="primary" class="text">   
        
        <h2>You have successfully checked-in to your table.</h2>
        <br>
        <h2>Order submission and alert functions have been enabled for you.</h2>
        <br>
        <h2>Have a pleasant dining experience!</h2>
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>