ion-icon {
    vertical-align: middle;
    padding-bottom: 2.5px;
  }

  .text {
    font-family:  Verdana, Geneva, Tahoma, sans-serif; 
//    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}